[ldap]
ldap_host = 'ldap://ldap.example.com'
ldap_bind_user = 'username'
ldap_bind_password = 'password'
ldap_base_dn = 'DC=example,DC=com'
ldap_filter = 'OU=Foo Bar'
ldap_skip_ous = 'Ignored Users,Bad Users'

[hipchat]
hipchat_enabled = 1
hipchat_goodbyes = 1
hipchat_url = 'https://api.hipchat.example.com'
hipchat_room = 'InactiveDirectory'
hipchat_token = 'abc123'